.middle{
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}
.flexibox{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    background-color: darksalmon;
    color: black;
}
h3{
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: bold;
    color: chocolate;
}
body{
    background-color: bisque ;
    color: black;
}
form{
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: medium;
    font-style: italic;
    box-sizing: border-box;
    padding: 50px;
    border-radius: 1rem;
    background-color: aliceblue;
    border: 4px solid black;
    display: inline-table;

}
nav{
    box-sizing: border-box;
    padding: 1rem;
    border-radius: 1rem;
    background-color: darksalmon;
    display: block;
}
img{
    display: block;
    margin: auto;}
a:hover{
    background-color: black;
    color: white;
}
a{
    color: indianred;
    text-decoration: none;
    font-weight:bold ;
}
ol{height:200px; width:80%;}
ol{overflow:hidden; overflow-y:scroll;}